.head-cell {
  border: 1px solid black;
  text-align: center;
  width: 200px;
  height: 30px;
  &.menu {
    width: 30px;
    height: 30px;
  }
}

.cell {
  border: 1px solid rgb(129, 128, 128);
  width: 200px;
  height: 100px;
  position: relative;
  &.menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
    &:hover {
      background-color: rgb(184, 182, 182);
    }
  }
}

.day {
  position: absolute;
  top: 5px;
  left: 5px;
}
