.head-cell {
  border: 1px solid black;
  text-align: center;
  width: 200px;
  height: 30px;
}

.cell {
  border: 1px solid rgb(129, 128, 128);
  width: 200px;
  height: 500px;
  position: relative;
}

.day {
  position: absolute;
  top: 5px;
  left: 5px;
}
