.row {
  height: 50px;
}

.title-cell {
  border: 1px solid black;
  width: 20%;
  padding: 10px;
}

.events-cell {
  border: 1px solid black;
  width: 80%;
}

.tbody table {
  border-collapse: collapse;
}

.times {
  width: 20%;
}

.events {
  width: 80%;
  table {
    width: 100%;
  }
}
