.cell {
  border: 1px solid rgb(129, 128, 128);
  width: 200px;
  height: 100px;
  position: relative;

  &.week {
    overflow-y: auto;
    height: 500px;
    & > div {
      height: 100%;
    }
  }
  &.menu {
    width: 30px;
    height: 30px;
    cursor: pointer;
    > div {
      height: 100%;
    }
    &:hover {
      background-color: rgb(184, 182, 182);
    }
  }
}

.container {
  height: 100px;
  overflow-y: hidden;
}

.day {
  position: absolute;
  top: 2px;
  left: 2px;
  &.shadow {
    background-color: rgba(137, 43, 226, 0.877);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.event {
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    margin: 0 5px;
  }
}

.not-rendered {
  background-color: rgba(24, 179, 24, 0.63);
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 50%;
  text-transform: uppercase;
}

.hidden {
  visibility: hidden;
}
